html, body{
    height: 100%;
    width: 100%;
}
body{
    display: block;
    padding: 0;
    margin: 0;
}
.main{
    height: 100%;
}
.center-block{
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-weight: 400;
    line-height: 140%;
}
a{color: #e52f3c}
a:hover{color: #db2835}
.container{position:relative}
.btn{border-radius: 2px;}
.form-control{
    border-radius: 0;
    border-color: #ddd;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control:focus{
    border-color: #BFBFBF;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(102, 175, 233, 0);
}
.form-control.input-lg{
    border-width: 3px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #D64040;
}

.has-error .form-control {
  border-color: #D64040;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-error .form-control:focus {
  border-color: #CE3636;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-error .input-group-addon {
  color: #D64040;
  background-color: #f2dede;
  border-color: #D64040;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #e52f3c;
}

.has-success .form-control {
  border-color: #e52f3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.has-success .form-control:focus {
  border-color: #db2835;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 6px #fff;
}

.has-success .input-group-addon {
  color: #e52f3c;
  background-color: #dff0d8;
  border-color: #e52f3c;
}


/** STYLING **/
.wrapper{position: relative;}
.clear{clear: both;}

button.btn.btn-default.btn-teplok,
a.btn.btn-default.btn-teplok{
    background-color:#e52f3c;
    color: #fff;
    border-color: #e52f3c;
}

button.btn.btn-default.btn-teplok:hover,
button.btn.btn-default.btn-teplok:focus,
a.btn.btn-default.btn-teplok:hover,
a.btn.btn-default.btn-teplok:focus{
    background-color:#d21523;
    border-color: #e52f3c;
}
.btn i{margin-right: 5px;}
.btn.btn-distance{margin: 20px 0;}


/** HEADER **/
#header-landing{
    padding: 8% 0;
    position:relative;
    background: rgba(1,1,1,.5);
}
#header-landing.inner-page{
    height: auto;
    position:relative;
    padding: 0;
    background: rgba(1,1,1,.5);
}
#header-landing #logo{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
}
#header-landing #logo h1{
    font-size: 32px;
    line-height: 100%;
    padding: 0;
    margin: 0;
    font-weight: 700;
    letter-spacing: -1px;
}
#header-landing #logo h1 a{
    color: #fff;
    -webkit-transition:All 0.4s ease;
    -moz-transition:All 0.4s ease;
    -o-transition:All 0.4s ease;
}
#header-landing #logo h1 a:hover,
#header-landing #logo h1 a:focus{
    color: #fff;
    text-decoration: none;
}
#header-landing #logo h1 i{color: #e52f3c;}
#header-landing #nav-menu{
    padding: 0;
    background: #272727;
    z-index: 20;
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
#header-landing #nav-menu .menus{
    float: right;
    font-size: 14px;
    padding: 5px 0;
}
#header-landing #nav-menu .menus ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#header-landing #nav-menu .menus ul li{display: inline-block;}
#header-landing #nav-menu .menus ul li a{
    color: #fff;
    padding: 15px 15px;
    border-radius: 5px;
    line-height: 100%;
    -webkit-transition:All 0.4s ease;
    -moz-transition:All 0.4s ease;
    -o-transition:All 0.4s ease;
}
#header-landing #nav-menu .menus ul li a:hover,
#header-landing #nav-menu .menus ul li a:focus{
    color: #e52f3c;
    background: #1C1C1C;
}
#header-landing #nav-menu .menus ul li.active a,
#header-landing #nav-menu .menus ul li.active a:hover,
#header-landing #nav-menu .menus ul li.active a:focus{
    color: #e52f3c;
    background: #1C1C1C;
}
#header-landing #nav-menu .menus ul li a i{display: none;}
#header-landing .awesome-slogan{
    text-align:center;
    padding-top: 5%;
}
#header-landing .awesome-slogan h2{
    padding: 15px 20px;
    color: #fff;
    font-weight: 300;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -2px;
    display: block;
    text-transform: uppercase;
}
#header-landing .awesome-slogan h4{
    padding: 10px 20px;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    display: block;
}
#header-landing .awesome-slogan h2 span,
#header-landing .awesome-slogan h4 span{
    font-weight: 800;
}
#header-landing .awesome-slogan p{
    font-size: 18px;
    margin: 20px 0;
    color: #fff;
    padding: 5px 10px;
    display: block;
}
#header-landing .awesome-slogan .social-icons{
    padding: 20px;
    display: block;
}
#header-landing .awesome-slogan .social-icons img{
    width: 35px;
    margin: 2px;
}

#search_box {
    display: inline-block;
    background-color: #2c333d;
    padding: 10px;
    border-radius: 5px;
    z-index: 1030
}

#search_box .locationbox {
    position: relative
}

#search_box input.starts-nav, #search_box input.ends-nav {
    width: 220px;
    padding: 10px 15px;
    border: 0;
    padding-left: 35px;
    color: #999;
    cursor: pointer;
    height: 37px
}

#search_box input.ends-nav {
    border-left: 1px #ccc solid
}
#search_box .txt {
    float: left
}

#search_box .arrw_datepicker {
    position: absolute;
    cursor: pointer;
    color: #666;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 18px
}

#search_box #SearchSubmit {
    border-radius: 0;
    padding: 0;
    background: #fff;
    cursor: default;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

#search_box .search_btn {
    background: #e52f3c;
    border: 0;
    height: 37px;
    padding: 7px 35px;
    color: #FFF;
    font-size: 14px;
    position: relative;
    margin-left: 20px;
    font-weight: 800;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: none;
    outline: 0;
    width: 180px
}

#search_box .search_btn:before {
    content: '';
    position: absolute;
    width: 25px;
    left: -7px;
    top: 0;
    bottom: 0;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    background: #e52f3c
}
.locationbox .marker-icon {
    position: absolute;
    font-size: 15px;
    color: #999;
    margin: 10px
}
.fl {
    float: left
}

/** SECTION **/
.section-theme-landing{
    height: 10px;
    background: #e52f3c;
}
.section-page-landing{
    background: #fff;
    z-index: 1;
}
.section-page-landing.section-transparent{
    background: transparent;
    color: #fff;
}
.section-page-landing.section-grey{
    background: #353535;
    color: #fff;
}
.section-page-landing.section-grey hr{
    height: 1px;
    background: #272727;
    margin: 50px 0;
    border: none;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
    -moz-box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
    box-shadow: 0px 1px 1px 0px rgba(82,82,82,0.49);
}
.section-page-landing.section-light-grey{
    background: #f3f3f3;
}
.section-page-landing .section-overlay{
    width: 100%;
    height: auto;
}
.section-page-landing .inner-section{
    padding: 100px 0;
}

.section-page-landing#quote{
    background:url(../images/image000.jpg) 100% 0 no-repeat fixed;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/image000.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/image000.jpg', sizingMethod='scale')";
}
/** BOXES **/
.the-box-landing{
    background: #fff;
    padding: 15px;
    margin: 30px 0;
    -webkit-transition:All 0.4s ease;
    -moz-transition:All 0.4s ease;
    -o-transition:All 0.4s ease;
}
.the-box-landing.the-box-light-grey{background: #f3f3f3;}
.the-box-landing.the-box-transparent{background: transparent;}
.the-box-landing.border-hover-bottom{border-bottom: 3px solid transparent;
    height: 285px;
    max-height: 285px;
}
.the-box-landing:hover.border-hover-bottom{border-bottom-color: #e52f3c;}
.the-box-landing.border-color-left{border-left: 3px solid #e52f3c;}
.the-box-landing.border-color-top{border-top: 3px solid #e52f3c;}
.the-box-landing.border-color-bottom{border-bottom: 3px solid #e52f3c;}
.the-box-landing.border-color-right{border-right: 3px solid #e52f3c;}
.the-box-landing.full{padding: 0px;}
.the-box-landing h3{
    font-weight: 300;
    margin: 0;
    padding: 0;
}
.the-box-landing h4{font-weight: 500;}
.the-box-landing p{font-size: 15px;}
.the-box-landing img.small-icon{
    margin: 25px 0;
    width: auto;
}

/** CONTACT FORM **/
form.contact-form{margin: 40px 0;}



/** BACK TO TOP BUTTON **/
#back-top{
    color: #fff;
    background: #e52f3c;
    font-size: 18px;
    line-height: 100%;
    display: inline-block;
    position: fixed;
    right: 12px;
    bottom: 10px;
    border-radius: 6px;
}
#back-top a,
#back-top a:hover,
#back-top a:focus{
    color: #fff;
    padding: 10px;
    display: block;
}

/** BLOG PAGE **/
h2.post-heading{
    margin: 0 0 15px 0;
    font-weight: 300;
    font-size: 35px;
}
.post-additional-detail{
    margin: 10px 0 10px 0;
    padding: 15px 0;
    border-bottom: 1px dashed #ddd;
    border-top: 1px dashed #ddd;
}
.post-additional-detail p{
    line-height: 100%;
    margin: 0;
    padding: 0;
}
img.img-post-detail{margin: 0 0 20px 0;}

/** POST COMMENT **/
.post-comment{margin: 30px 0;}
.post-comment .media-list .media .media-object{
    width: 80px;
    margin-right: 10px;
}
.post-comment .media-list .media .media-body p.comment-date{color: #909090;}
.post-comment .media-list .media .media-body p.comment-action i{margin: 2px;}

/** SIDEBAR **/
.sidebar{}
.sidebar h4{
    margin: 40px 0 0 0;
}
.sidebar .search-form{
    margin: 0 0 20px 0;
    position: relative
}
.sidebar .search-form button.btn:hover,
.sidebar .search-form button.btn:focus,
.sidebar .search-form button.btn{
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
    background: transparent;
    border: none;
}

.sidebar .media-list{margin: 10px 0;}
.sidebar .media-list .media-heading{
    margin: 5px 0;
    font-size: 16px;
}

/** BLOG LIST **/
.blog-list .media-list .media-heading {
    font-size: 22px;
    font-weight: 400;
}
.blog-list .media-list .media-heading a {color: #353535;}
.blog-list .media-list .media-heading a:hover{
    text-decoration: none;
    color: #e52f3c;
}
.blog-list .media-list .media{margin-bottom: 40px;}
.blog-list .media-list .media-object{
    width: 225px;
    margin-top: 5px;
    margin-right: 5px;
}
.blog-list .pagination li.active a{
    background: #e52f3c;
    border-color: #e52f3c;
}

/** ERROR PAGE **/
body.error-page-wrap{
    background: #e52f3c;
    color: #fff;
}
.error-page{
    background: #e52f3c;
    color: #fff;
}
.error-inner{
    padding-top: 5%;
    text-align: center;
}
.error-inner a,
.error-inner a:hover{
    color: #fff;
}
.error-inner .icon-side{
    font-size: 100px;
    padding: 20px;
}
.error-inner  h1{
    font-size: 100px;
    margin: 0;
    padding: 0;
}

.green-arrow {list-style: none; margin-bottom: 15px;}
.green-arrow li {position: relative; padding-left: 25px; margin-bottom: 5px;}
.green-arrow li:before {display:inline-block; text-align:center; font-family: FontAwesome; content:"\f00c"; position:absolute; left:0; transition:all 0.3s ease-in; transition:all 0.3s ease-in;  transition:all 0.3s ease-in; color: #72B569;}

/** FOOTER **/
form.form-subscribe{margin: 13px 0;}
form.form-subscribe button.btn i{margin-left: 5px;}
form.form-subscribe .form-control{border: none;}
footer{
    padding: 40px 0 0;
    background: #272727;
    margin: 0 0 -30px 0;
    color: #C6C6C6;
}
footer a{color: #fff;}
footer a:hover,
footer a:focus{
    color: #e52f3c;
    text-decoration: none;
}
footer h5{
    color: #e52f3c;
    margin: 20px 0;
    text-transform: uppercase;
}
footer h5 a{ color: #e52f3c;}
footer ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
footer ul li{padding: 5px 0;}
footer .footer{
    padding: 20px 0 20px;
    margin: 40px 0 0px;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid #1c1c1c;
    -webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
    -moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
    box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
}

/*social icons*/

.social-icons a{ 
    font-size: 28px;
    font-style: normal;
    color: #4d4641;
    line-height: 0px;
    font-family: 'FontAwesome';
    margin: 0 2px
     }


/*about us page*/

#about-us #header-landing{
     padding: 0;
}     
.about-us-wrapper{
    margin-top: 64px;
    padding: 7% 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;	
}
