
	    <div class="wrapper" ng-controller="HomeCtrl as home">
			<div id="header-landing">
        <!-- NAV MENU WRAPPER FOR FIXED POSITION -->
        <div id="nav-menu">
            <!-- NAV MENU CONTAINER -->
            <div class="container">
                <!-- LOGO -->
                <div id="logo">
                    <h1><a href="index.html"><img src="images/logo.png" /></a></h1>
                </div><!-- /#logo -->
                <!-- END LOGO -->
                <!-- NAV MENU -->
                <div class="menus" id="myScrollspy">
                    <ul class="nav scroll-nav">
                        <li class="active"><a href="index.html#top"><i class="fa fa-home"></i><span>Book</span></a></li>
                        <li><a href="index.html#features"><i class="fa fa-laptop"></i><span>Features</span></a></li>
                        <li><a href="index.html#services"><i class="fa fa-cog"></i><span>App</span></a></li>
                        <li><a href="index.html#contact"><i class="fa fa-envelope"></i><span>Contact</span></a></li>
                    </ul>
                </div><!-- /.menus -->
                <!-- END NAV MENU -->
            </div><!-- /.container -->
            <!-- END NAV MENU CONTAINER -->
        </div><!-- /.nav-menu -->
        <!-- END NAV MENU FIXED POSITION -->
      </div>
      
      		<div class="about-us-wrapper">
      		<div class="container">
            	<div class="row text-center">
                	<div class="col-sm-12">
                    	We are a bunch of engineers turned travellers who are on a mission to solve a major problem for travellers like us in India. We understand how bus journeys can be painful and exhaustive at times due to inadequate and untimely mid way stoppages, insufficient leg space, uncontrolled temperature, non-functional power sockets, etc. Now imagine a ride in which all the controls are in the hands of passengers instead of the driver. What more? How about “business class” like comfortable seats with LCD screens or an app to watch your favorite flicks, listen songs or explore the places to visit in your destination? Well, we at WOOBUS are working hard to ensure all of it and much more to woo your rides at affordable price. The best part is your loved ones can keep a track of your journey as per your consent.
If you have any feedback, do write to us at  <a href="mailto:#" target="_blank">hello@woobus.in</a>. We will make sure we continue to serve you as per your expectation.
                    </div>
                </div>
            </div>
      </div>


    <!-- 
    ===========================================
    BEGIN FOOTER SECTION
    ===========================================
    -->
    		<footer>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-4 help support">
                    <h5>Company</h5>
                    <ul>
                        <li><a href="javscriptvoid(0);" target="_blank">About Us</a></li>
                        <li><a href="#" target="_blank">Blog</a></li>                       
                        <li><a href="#" target="_blank">FAQs</a></li>                        
                        <li><a href="#" target="_blank">Privacy Policy</a></li>
                        <li><a href="#" target="_blank">Terms and Conditions</a></li>                         
                    </ul>
                </div>                            
                <div class="col-sm-4">
                    <h5>Follow Us On</h5>
                    <p class="social-icons col-sm-12">
                        <a href="#" class="fa fa-facebook-official"></a>
                        <a href="#" class="fa fa-linkedin-square"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter-square"></a>
                    </p>                    
                    <p class="col-sm-12">Email us at <a href="mailto:hello@woobus.in" target="_blank">hello@woobus.in</a></p>
                </div>
                <div class="col-sm-4">
                    <h5>SUBSCRIBE</h5>
                    <p>Subscribe to know about offers and receive our newsletter.</p>
                    <form role="form" method="POST" class="form-subscribe">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Email address">
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-teplok" type="button"><i class="fa fa-chevron-right"></i></button>
                          </span>
                        </div>
                    </form>
                    <p>*we never send junks</p>
                </div><!-- /.col-sm-3 -->
            </div><!-- /.row .text-center -->
        </div><!-- /.container -->
        
        <div class="footer">
            <div class="container">
                <p>&copy; 2015 <a href="index.html#fakelink">WooYou Labs Pvt. Ltd.</a></p>
            </div><!-- /.container -->
        </div><!-- /.footer -->
    </footer>
    <!-- 
    ===========================================
    END FOOTER SECTION
    ===========================================
    -->
 		</div>

