<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About Us</title>
</head>

<body>
	<div id="header-landing">
        <!-- NAV MENU WRAPPER FOR FIXED POSITION -->
        <div id="nav-menu">
            <!-- NAV MENU CONTAINER -->
            <div class="container">
                <!-- LOGO -->
                <div id="logo">
                <h1><a href="index.html"><img src="images/logo.png" /></a></h1>
                </div><!-- /#logo -->
                <!-- END LOGO -->
                <!-- NAV MENU -->
                <div class="menus" id="myScrollspy">
                    <ul class="nav scroll-nav">
                        <li class="active"><a href="index.html#top"><i class="fa fa-home"></i><span>Book</span></a></li>
                        <li><a href="index.html#features"><i class="fa fa-laptop"></i><span>Features</span></a></li>
                        <li><a href="index.html#services"><i class="fa fa-cog"></i><span>App</span></a></li>
                        <li><a href="index.html#contact"><i class="fa fa-envelope"></i><span>Contact</span></a></li>
                    </ul>
                </div><!-- /.menus -->
                <!-- END NAV MENU -->
            </div><!-- /.container -->
            <!-- END NAV MENU CONTAINER -->
        </div><!-- /.nav-menu -->
        <!-- END NAV MENU FIXED POSITION -->
      </div>
      
      <div class="about-us-wrapper">
      		<div class="container">
            	<div class="row text-center">
                	<div class="col-sm-12">
                    	We are a bunch of engineers turned travellers who are on a mission to solve a major problem for travellers like us in India. We understand how bus journeys can be painful and exhaustive at times due to inadequate and untimely mid way stoppages, insufficient leg space, uncontrolled temperature, non-functional power sockets, etc. Now imagine a ride in which all the controls are in the hands of passengers instead of the driver. What more? How about “business class” like comfortable seats with LCD screens or an app to watch your favorite flicks, listen songs or explore the places to visit in your destination? Well, we at WOOBUS are working hard to ensure all of it and much more to woo your rides at affordable price. The best part is your loved ones can keep a track of your journey as per your consent.
If you have any feedback, do write to us at  <a href="mailto:#" target="_blank">hello@woobus.in</a>. We will make sure we continue to serve you as per your expectation.
                    </div>
                </div>
            </div>
      </div>


    <!-- 
    ===========================================
    BEGIN FOOTER SECTION
    ===========================================
    -->
    <footer>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-3">
                    <h5>ABOUT US</h5>
                    <p>
                    We are a bunch of engineers turned travellers who are on a mission to solve a major problem for travellers like us in India. We understand how bus journeys can be painful and exhaustive at times due to inadequate and untimely mid way stoppages, insufficient leg space, uncontrolled temperature, non-functional power sockets, etc.
                    <br />
                    <a href="javascript:void(0)">Read more</a>
                    </p>
                </div>
                <div class="col-sm-3">
                    <h5>NAV MENUS</h5>
                    <ul>
                        <li><a href="index.html#fakelink">Our Services</a></li>
                        <li><a href="index.html#fakelink">Our Portfolio</a></li>
                        <li><a href="blog-list.html">Blog Page</a></li>
                        <li><a href="index.html#fakelink">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>OUR LOCATION</h5>
                    <address>
                      <strong>Delhi</strong><br>
                      Something<br>
                      Something<br>
                      Something, India<br>
                      <abbr title="Phone">P:</abbr> +91-98765431231
                    </address>

                    <address>
                      <strong>Email : </strong><br>
                      <a href="mailto:#">hello@woobus.in</a>
                    </address>
                </div>
                <div class="col-sm-3">
                    <h5>SUBSCRIBE</h5>
                    <p>Subscribe to know about offers and receive our newsletter.</p>
                    <form role="form" method="POST" class="form-subscribe">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Email address">
                          <span class="input-group-btn">
                            <button class="btn btn-default btn-teplok" type="button"><i class="fa fa-chevron-right"></i></button>
                          </span>
                        </div>
                    </form>
                    <p>*we never send junks</p>
                </div><!-- /.col-sm-3 -->
            </div><!-- /.row .text-center -->
        </div><!-- /.container -->
        
        <div class="footer">
            <div class="container">
                &copy; 2015 <a href="index.html#fakelink">WooBus</a>
            </div><!-- /.container -->
        </div><!-- /.footer -->
    </footer>
    <!-- 
    ===========================================
    END FOOTER SECTION
    ===========================================
    -->
</body>
</html>
